.short-hr {
    width: 200px;
}

.join-description {
    white-space: pre-wrap;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    color: var(--helper-color)
}

.join-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 300px;

}

.join-code-error {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    color: var(--blue-color);
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-out;
    white-space: wrap;
    width: 300px;

}