.place-button {
    background-color: var(--marine-color);
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 12px;
    padding-inline: 30px;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 20px;

}

.place-helper{
    /*font-size: 12px;*/
    /*color: #64748b;*/
    margin: 6px 0 0;
    letter-spacing: 0.05em;
    white-space: pre-wrap;
    color: #939FB1;
    font-family: "Rowdies", sans-serif;
    font-size: 14px;
    font-weight: 300;
}